.navbar{
    display: block;
    background: black;
    width: 100%;
    color: white;
    padding-bottom: 30px;
    position: relative;
   
}
a{
    text-decoration: none;
    color: rgba(233, 230, 230, 0.753);
 
    position: relative;
    bottom: -15px;
    padding: 10px;
    transition: background-color 0.4s;


}
a:hover{
    background-color: rgb(189, 87, 50);
    overflow: hidden;
}
html{
    background: linear-gradient(to top,lightgray 10%, #001024 92%, #001024);
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
}
section{
    width: 80%;
    background-color: #c9e4df;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    padding-bottom: 15%;
    max-width: 500px;
    transition: background 1s;

}
h1{
    text-align: center;
    scale: 1.4;
}
.ab{
    padding-top: 10%;
    text-align: center;
}
section:hover{
    background: rgba(187, 220, 221, 0.76);
  
}
.ab:hover{
    scale: 1.5;
}
.name:hover{
    scale: 1.5;
}



@media only screen and (min-width: 400px) {
    html{
        position: static;
    }
} 
    

