.navbar{
    display: block;
    background:linear-gradient(#00545d,#000729);
    width: 100%;
    color: white;
    padding-bottom: 30px;
    position: relative;
   
}
a{
    text-decoration: none;
    color: rgba(233, 230, 230, 0.753);
    position: relative;
    bottom: -15px;
    padding: 10px;
    transition: background-color 0.4s;


}
a:hover{
    background-color: rgb(189, 87, 50);
    overflow: hidden;
    
}
header h1{
    text-align: center;
    color: rgb(0, 0, 0);
    
}
body{
    background:url(background.png);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;

}


.container{
    width: 100%;
    background-color: rgb(51, 51, 51); 
}
.skills{
    text-align: right;
    padding-top: 8px;
    padding-bottom: 10px;
    color: white;
    position: relative;
   
   
}
.html{
    width: 100%;
    background-color: #04AA6D;
   

}
.css{
    width: 100%;
    background-color: #2196F3;

}
.javascript{
    width: 100%;
    background-color: #f44336;
}
.ds{
    width: 100%;
    background-color: #334297;

}
.Python{
    width: 100%;
    background-color: coral;
}
.cpp{
    width: 100%;
    background-color: tomato;

}
.container-main{
    margin-left: 35%;
    margin-top: 12%;
    padding-left:8%;
    position: absolute;
    top: 20px;
    color: rgb(7, 7, 7);
    font-size: large;
}
p{
    font-size: 20px;
}

.container-main>h1{
    margin-left: 40px;
}

@media only screen and (min-width: 400px) {
    html{
        position: static;
    }
} 
