body{
    margin: 0;
    padding: 0%;
    width: 100%;
}
.navbar{
    display: block;
    background: black;
    width: 100%;
    color: white;
    padding-bottom: 30px;
    position: relative;
}
a{
    text-decoration: none;
    color: rgba(233, 230, 230, 0.753);
 
    position: relative;
    bottom: -15px;
    padding: 10px;
    transition: background-color 0.4s;


}
a:hover{
    background-color: rgb(189, 87, 50);
    overflow: hidden;
}
html{
    background: linear-gradient(to top, #1179c5, #0070b4 11%, #001024 82%, #001024);
}
section>h1{
    text-align: center;
    scale: 1.5; 
  
}
section{
    width: 80%;
    background-color: #71d0ece8;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    padding-bottom: 20%;
    max-width: 500px;
}
@media only screen and (max-width: 600px) {
    html{
        position: static;
    }
} 
